__pycache__/
*.pyc
*.pyo
.venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.coverage

# Flutter/Dart
*.class
*.log
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
*.iml
*.ipr
*.iws
.idea/
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/coverage/
app.*.symbols
app.*.map.json
/android/app/debug
/android/app/profile
/android/app/release
